<mat-card class="mat-elevation-z3">
  <div class="row">

    <div class="col list-title">
      <mat-card-title>
        Lista de Filmes
      </mat-card-title>
      <mat-card-subtitle>
        Total de Filmes: {{allMoviesList?.length || 0}}
      </mat-card-subtitle>
    </div>

    <div class="col-auto">
      <form [formGroup]="searchForm">
        <mat-form-field class="example-full-width">
          <input type="search" matInput placeholder="Pesquisa" formControlName="searchField">
          <i matSuffix class="material-icons">search</i>
        </mat-form-field>
      </form>
    </div>
  </div>


  <mat-card-content>
    <div *ngIf="movieList && movieList.length > 0; else emptyList" class="table-content">
      <table align="center" class="table">
        <thead>
        <tr>
          <th>Poster</th>
          <th>Descrição</th>
          <th>Editar</th>
          <th>Excluir</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let item of movieList">

          <td class="image">
            <img [src]="item?.poster" alt="Image Example" onerror="this.src='/assets/img/not-found.png'">
          </td>

          <td class="all-descriptions-container">
            <h2>{{item.name}}</h2>
            <abbr class="description" [title]="item.description">{{item.description}}</abbr>
            <p class="info">{{item.director}} &#9642; {{item.year}} &#9642; {{item.genre}}</p>
          </td>

          <td class="edit">
            <a>
              <i class="material-icons btn-transform-efect" routerLink="{{'/movie-edit/'+item.id}}">edit</i>
            </a>
          </td>

          <td class="delete">
            <a (click)="deleteMovieAlert(modalDelete, item)">
              <i class="material-icons btn-transform-efect">delete</i>
            </a>
          </td>
        </tr>

        </tbody>
      </table>
    </div>

    <ng-template #emptyList>
      <mat-card-title class="title-empty-list">
        {{searchForm.controls.searchField.value ? 'Filme não encontrado :(' : 'Sua lista de filmes está vazia'}}
      </mat-card-title>
      <mat-card-subtitle class="subtitle">
        {{searchForm.controls.searchField.value ? 'Adicione este filme ' : 'Adicione filmes '}}
        clicando <a routerLink="/movie-edit" class="generic-link">aqui</a>
      </mat-card-subtitle>
    </ng-template>

  </mat-card-content>

  <ng-template #modalDelete let-data>
    <h3 mat-dialog-title>Deseja excluir este filme?</h3>
    <mat-dialog-actions align="center">
      <button mat-button mat-dialog-close>Não</button>
      <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="text-danger"
              (click)="deleteMovie(data)">
        Sim
      </button>
    </mat-dialog-actions>
  </ng-template>

</mat-card>
